{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Universus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {#Bootstrap CSS remote#}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {#custom style  #}
  <link rel="stylesheet" href="{% static 'main/main.css' %}">

{#  AWESOME ICONS fonts#}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{#    Custom JS#}

    <script src="{% static 'main/main.js' %}"></script>
{#    jQuery#}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a id="logo" class="navbar-brand" href="#">Universus</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
{#          li maybe use class="active"#}
        <li >
          <a href="/profile_"><i class="fa fa-user fa-lg"></i> Профиль</a>

        </li>
        <li>
          <a href="/university_/list"><i class="fa fa-university fa-lg"></i> Университеты</a>
        </li>
        <li>
          <a href="/timetable_"> <i class="fa fa-calendar-o fa-lg"></i> Расписание</a>
        </li>
        <li><a href="/about_"><i class="fa fa-info fa-lg"></i> О нас</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Выйти</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <table class="table table-hover">
        <tr>
          <td><a href="/university_">Мой университет</a></td>
        </tr>

        <tr>
          <td><a href="/studentgroup_">Мои группы</a></td>
        </tr>
        <tr>
          <td><a href="../error/coming_soon">Тесты</a></td>
        </tr>
        <tr>
          <td><a href="/chat_/list">Сообщения</a></td>
        </tr>
        <tr>
          <td><a href="../students_">Студенты</a></td>
        </tr>
        <tr>
          <td><a href="../teachers_">Преподаватели</a></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-8 text-left body-meduim" style="height: auto; overflow: auto">





        <iframe id = 'main_content' src="{{ content_src }} " width="100%" frameborder="0" scrolling="no">

        </iframe>





    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>
          <h5><b>Тест по физике</b></h5>
          <h6>22.12.2017</h6>
        </p>
      </div>
      <div class="well">
        <p>
          <h5><b>Тест по Java</b></h5>
          <h6>02.12.2017</h6>
        </p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
