{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">




    {#Bootstrap CSS remote#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {#custom style  #}
    <link rel="stylesheet" href="{% static 'user_profile/user_profile.css' %}">
    {#    fonts#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#    jQuery#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {#Bootstrap toogle plugin#}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

        {#  AWESOME ICONS fonts#}
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>


    {#common style    #}
    <link rel="stylesheet" href="{% static 'common/css/common.css' %}">

    {#common JS    #}
    <script src="{% static 'common/js/common.js' %}"></script>
</head>
<body>

        <div class="btn-group btn-admin-group " >
            <input id="edit-mode" type="checkbox" data-toggle="toggle" data-on="Edit on" data-off="Edit off">
            <button id="save-change" class="btn btn-warning">
                <i class="fa fa-save fa-lg"></i> Save change
            </button>
        </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div id="user-name" class="field"> {{ account.Surname }} {{ account.Name }} {{ account.Patronymic }}
              ({{ role }}) </div>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-3 " align="center">
              <img alt="User Pic" id="user-img" src="{{ account.PhotoURL }}" class="img-circle img-responsive">
            </div>
            
            <div class=" col-md-9 col-lg-9 "> 
              <table class="table table-user-information">
                <tbody>
                  <tr>
                    <td>Университет:</td>
                    <td>{{ university.ShortName }}</td>
                  </tr>
                  <tr>
                    <td>Факультет/институт:</td>
                    <td>{{ department.Name }}</td>
                  </tr>
                  <tr>
                    <td>Дата рождения:</td>
                    <td>
                        <input name="birth_day" type="date" value="{{ account.BirthDay|date:"Y-m-d" }}" class="field">
                    </td>
                  </tr>
                  <tr>
                    <td>Адрес</td>
                    <td><input name="address" type="text" value="{{ account.Address }}" class="field"></td>
                  </tr>
                  <tr>
                    <td>Email</td>
                    <td><input name="email" type="email" value="{{ account.Email }}" class="field"></td>
                  </tr>
                    <td>Номер телефона:</td>
                    <td><input name="phone" type="text" value="{{ account.Phone }}" class="field"></td>
                  </tr>
                 
                </tbody>
              </table>
              
              <button class="btn btn-primary">
                <i class="glyphicon glyphicon-envelope"></i>
                Отправить сообщение
              </button>
            </div>
          </div>
        </div>
         <div class="panel-footer">
            <button class="btn btn-danger" data-toggle="modal" data-target="#delete_modal_profile">
                <i class="fa fa-trash-alt fa-lg"></i> Удалить
            </button>
         </div>
        
      </div>
    </div>


<div id="delete_modal_profile" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Удалить профиль?</h3>
      </div>
      <div class="modal-body">
        <h4>Вы действительно хотите удалить этот профиль?</h4>
        <a class="btn btn-danger" href="/profile_body/delete/123/">Да</a>
        <button class="btn btn-primary" data-dismiss="modal">Нет</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>

  </div>
</div>


</body>
</html>
