html body {
  height: 100%;
}

.question {
  font-size: 20px;
  color: #222222;
}

.question hr {
  border-color: rgba(184, 184, 184, 0.65);
  border-style: double none none none;
  border-width: 9px;
}

label {
  height: 20px;
}


.answer {
  margin-top: -5px;
  font-size: 18px;
  color: #222222;
}


.dropdown-menu {
    min-width: 0px !important;
}

.selectpicker {
  min-width: 0px !important
}

.test {
	margin: 1em;
	max-width: 600px;
  min-width: 300px;
}

hr {
  border-style: solid none none none;
    border-width: 2px;
}

.posible-answers-menu {
  margin-left: -20px;
}



.btn-remove-test {
  background-color: #D79F9F;
}

/*style below http://dimox.name/custom-checkboxes-and-radio-buttons-using-css-only/*/
input[type="radio"] {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
input[type="radio"] + label {
  cursor: pointer;
}
input[type="radio"]:not(checked) {
  position: absolute;
  opacity: 0;
}
input[type="radio"]:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}
input[type="radio"]:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #CDD1DA;
  border-radius: 50%;
  background: #FFF;
}
input[type="radio"]:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #4F8FFF; /*background of checked radio button*/
  box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
  opacity: 0;
  transition: all .2s;
}
input[type="radio"]:checked + label:after {
  opacity: 1;
}
input[type="radio"]:focus + label:before {
  box-shadow: 0 0 0 3px rgba(230,230,230,.5);
}
/*style above http://dimox.name/custom-checkboxes-and-radio-buttons-using-css-only/*/


.panel {
  margin: auto; !important;
  box-shadow: 2px 5px 18px #888888; !important;
  margin-top: 25px; !important;
}

.panel-heading {
  font-size: 18px;
  color: #6b6b6b;
}

#testContainer {
  padding-bottom: 20px;
}