.user-name {
    width: 300px;
}

.avatar img {
    width: 55px;
    height: 55px;
    border-radius: 28px;
}

table {
    font-size: 16px;
}

thead {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/*MOBILE ONLY*/
@media only screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}