{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

{#    сюда пиши стили#}
    <link type="text/css" href="{% static 'university/university.css' %}">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{#    сюда скрипты#}
    <script scr="{% static 'university/university.js' %}"></script>

{#    картинки также забрасыват в папку static/<имя приложения>#}
{#    и прописывать урл картинки как "{% static '<имя приложения>/<имя картинки>' %}" #}
</head>
<body>
<h3><img src="{% static 'common/img/vlsu.png' %}" align="left" height="150" style="margin-right: 10px" width="150"></h3>
<h1><span <b>владмирирский госудурсвтк университет имена аг столетововых</b></span></h1>
<p>отоытукщтмфщукт к укмтуко тм ымд ткту щтщтмт утщ щиущ и</p>
<p>уко лм кутлоо томтктмкмуытм м ткттиукт жтк ит у токт ищтущитущи</p>
<p>ткот у кщ т ууит ухи тихщ х у отухщтиухихи о хт&nbsp; тщуоткощитутк&nbsp;</p>
<h2>список факультетов</h2>
<ul>
	<li>тщуктмук</li>
	<li>укмкмукм</li>
	<li>умку</li>
	<li>мк</li>
	<li>му</li>
	<li>м</li>
	<li>уму</li>
	<li>ум</li>
	<li>амув</li>
	<li>м</li>
</ul>

</body>
</html>