html body {
	font-family: 'Roboto', sans-serif;	
	background: #FAFAFA;
	height: 100%;
}


.container-fluid .row {
	height: 300px;
}

.singup {
	margin: auto;
	margin-top: 5%;
	max-width: 400px;

}

.title {
	font-size: 1.75em;
	font-weight: bolder;
}

.form-group{
	padding-left: 5%;
	padding-right: 5%;
}

/* unvisited link */
a:link {
    color: #FF8900;
}

/* visited link */
a:visited {
    color: #ee5700;
}

/* mouse over link */
a:hover {
    color: #ffbd4d;
}

/* selected link */
a:active {
    color: #FF8900;
}