{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

{#    сюда пиши стили#}
    <link type="text/css" href="{% static 'about/about.css' %}">  
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	

  
  
{#    сюда скрипты#}
    <script scr="{% static 'about/about.js' %}"></script>

{#    картинки также забрасыват в папку static/<имя приложения>#}
{#    и прописывать урл картинки как "{% static '<имя приложения>/<имя картинки>' %}" #}
</head>
<body>
   
	<table class="table table-user">
<tbody>
<tr>
<td>   <!-- Begin Image -->
          <img class="portrait" src="{% static 'common/img/misha.png' %}" alt="John Smith" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h3 class="name">Курочкин Михаил <br /> </h3>
              <h4 <span>Проектировщик | Back-end developer</span> </h4>
            <ul>
              <li class="ad">111 Lorem Street, 34785, Ipsum City</li>
              <li class="mail">почта@почта.com</li>
              <li class="tel">+11 444 555 22 33</li>
            </ul>
          </div>
          <!-- End Personal Information --></td>
		  <td>   <!-- Begin Image -->
         <img class="portrait" src="{% static 'common/img/max.png' %}" alt="John Smith" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h3 class="name">Шватов Макс <br /> </h3>
             <h4 <span>Back-end developer</span> </h4>
            <ul>
              <li class="ad">111 Lorem Street, 34785, Ipsum City</li>
              <li class="mail">почта@почта.com</li>
              <li class="tel">+11 444 555 22 33</li>
            </ul>
          </div>
          <!-- End Personal Information --></td></tr>
<tr>
<td>   <!-- Begin Image -->
          <img class="portrait" src="{% static 'common/img/arina.png' %}" alt="John Smith" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h3 class="name">Семенчева Арина <br /> </h3>
             <h4 <span>UX/UI Designer</span></h4>
            <ul>
              <li class="ad">111 Lorem Street, 34785, Ipsum City</li>
              <li class="mail">почта@почта.com</li>
              <li class="tel">+11 444 555 22 33</li>
            </ul>
          </div>
          <!-- End Personal Information --></td>
		  <td>   <!-- Begin Image -->
          <img class="portrait" src="{% static 'common/img/serg.png' %}" alt="John Smith" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h3 class="name">Корнилов Сергей <br /> </h3>
             <h4 <span>Front-end developer</span></h4>
            <ul>
              <li class="ad">111 Lorem Street, 34785, Ipsum City</li>
              <li class="mail">почта@почта.com</li>
              <li class="tel">+11 444 555 22 33</li>
            </ul>
          </div>
          <!-- End Personal Information --></td></tr>
</tbody>
</tr>
</table> 


</body>
</html>
