.highlight {
    background-color: #ffca4d;
}

td {
    font-size: 18px;
}
thead {
    text-align: center;
}

/*MOBILE ONLY*/
@media only screen and (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}