#created_date {
    width: 160px;
    border: #fff 0px solid;
}

h5 {
    font-weight: bold;
}

.avatar img {
    width: 55px;
    height: 55px;
    border-radius: 28px;
}

#msg_result {
    font-weight: bold;
    font-size: 18px;
    color: #FF8900;
}